body{
    display: flex;
    justify-content: center;
    align-items: center;
    height:880px;
    background-color:antiquewhite;
}
.container {
    display:flex;
    flex-wrap: wrap;
    max-width:960px;
    gap:5px;
}

.square{
    display:flex;
    flex-wrap:wrap;
    flex:1 0 200px;
    gap:5px;
    height: 200px;
}

.mini{
    display:flex;
    border-style: solid;
    flex:1 0 40px;
}